DATABASE_URL=''
EMBEDDING_KEY=inf-xxx
EMBEDDING_MODEL_ID=cohere-embed-multilingual
EMBEDDING_URL='https://us.inference.heroku.com'
GITHUB_TOKEN=ghp_xxxx
INFERENCE_KEY=inf-xxxx
INFERENCE_MODEL_ID=gpt-oss-120b
INFERENCE_URL='https://us.inference.heroku.com'
LANGCHAIN_PROJECT=Build-Agentic-AI
LANGSMITH_API_KEY=lsv2_pt_xxxx
LANGSMITH_ENDPOINT='https://api.smith.langchain.com'
LANGSMITH_PROJECT=Build-AI-Apps
LANGSMITH_TRACING=true
OPENWEATHER_API_KEY=0cbxxxx
